.header-wrapper {
  background: white;
  height: 150px;
  display: flex;
}

.header-div {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header-div {
    padding: 1rem;
  }
}
.header-img {
  width: 200px;
  height: 200px;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .header-img {
    width: 150px;
    height: 150px;
  }
}
.header-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-linktext {
  color: #47525e;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  width: 78px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header-linktext {
    margin-left: 5px;
    font-size: 13px;
  }
}
.footer-wrapper {
  background: #47525e;
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.footer-container {
  margin: 0 auto;
  width: 100%;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-items: center;
}
.footer-leftimg {
  width: 142px;
  height: 186px;
  background-color: #8190a5;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .footer-leftimg {
    width: 100%;
    height: 800px;
  }
}
.footer-links {
  padding: 1rem;
  width: 18%;
  height: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .footer-links {
    width: 100%;
    font-size: 20px;
    padding: 0;
  }
}
.footer-links-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: -1rem;
  flex-direction: column;
  padding: 2rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .footer-links-wrapper {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 2px;
    margin-top: 2rem;
  }
}
.footer-right {
  color: #f7f7f7;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 215px;
  text-align: left;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .footer-right {
    font-size: 22px;
  }
}
.footer-input-container {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .footer-input-container {
    width: 40%;
  }
}
.footer-input {
  background: white;
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
}
.footer-button-subs {
  background-color: #ffffff;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  color: #47525e;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  text-align: center;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}
@media screen and (max-width: 768px) {
  .footer-button-subs {
    width: 30%;
  }
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 372px;
  padding: 3rem;
}
.hero-h1 {
  color: #47525e;
  font-family: Lato;
  font-size: 48px;
  line-height: 62px;
  width: 732px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .hero-h1 {
    font-size: 30px;
    width: 100%;
    line-height: 30px;
  }
}
.hero-p {
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 620px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .hero-p {
    font-size: 15px;
    width: 100%;
    line-height: 15px;
  }
}
.hero-inp {
  background-color: #ffffff;
  border: 1px solid #8492a6;
  border-radius: 5px;
  width: 440px;
  height: 50px;
}
.hero-search-btn {
  background-color: #47525e;
  border-radius: 5px;
  width: 192px;
  height: 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  text-align: center;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hero-search-btn {
    font-size: 15px;
    padding: 0.2rem;
  }
}
.pop-up-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #e5e9f2;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .pop-up-wrapper {
    height: 120vh;
  }
}
.pop-up-container {
  background-color: #ffffff;
  width: 600px;
  height: 526px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .pop-up-container {
    width: 100%;
  }
}
.pop-up-heading {
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 369px;
  text-align: center;
  margin-top: -4rem;
}
.pop-up-lowertext {
  color: #8190a5;
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
  width: 600px;
  text-align: center;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .pop-up-lowertext {
    width: 100%;
  }
}
.pop-up-btn {
  background-color: #47525e;
  border-radius: 5px;
  width: 288px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  text-align: center;
  margin-top: 53px;
  cursor: pointer;
}
.pop-up-progrssbar-comp {
  background-color: #8190a5;
  width: 129px;
  height: 8px;
}
.pop-up-progrssbar-incomp {
  background-color: #e5e9f2;
  width: 337px;
  height: 8px;
}
.product-card-img {
  background-color: #e5e9f2;
  width: 100%;
  height: 238px;
}
.product-card-txtarea {
  width: 50%;
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: center;
}
.product-card-name {
  color: #47525e;
  font-family: Lato;
  font-size: 28px;
  line-height: 33px;
  text-align: left;
}
.product-card-price {
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.product-card-btn {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-card-btn-link {
  background-color: #47525e;
  border-radius: 5px;
  width: 108px;
  height: 35px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  line-height: 62px;
  width: 108px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profile-wrapper {
  width: 100%;
  padding: 80px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .profile-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.profile-img {
  background-color: #cacaca;
  border-radius: 100%;
  width: 316px;
  height: 307px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #47525e;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile-img {
    width: 200px;
    height: 200px;
  }
}
.profile-right {
  width: 60%;
  margin-top: 88px;
  margin-bottom: 88px;
  margin-left: 97px;
  color: #47525e;
  font-family: Lato;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile-right {
    width: 100%;
    margin-left: 0;
  }
}
.profile-heading-wrapper {
  width: 100%;
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-heading {
  color: #47525e;
  font-family: Lato;
  font-size: 40px;
  line-height: 50px;
  width: 400px;
  text-align: center;
}
.seemore-wrapper {
  width: 100%;
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seemore-text {
  background-color: #47525e;
  border-radius: 5px;
  width: 192px;
  height: 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  width: 192px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card-container {
  width: 100%;
  height: 436px;
  margin: 0 auto;
}
.cardwrappper {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .cardwrappper {
    grid-template-columns: repeat(1, 3fr);
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
input[type="text"]::placeholder {
  padding-left: 1rem;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.linktext {
  text-decoration: none;
  color: white;
}
.linktext :visited {
  color: white;
}
.card {
  background: rgb(240, 240, 240);
  border-radius: 5px;
  width: 70%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.card h2 {
  font-size: 24px;
  text-decoration: none;
  margin-top: 1rem;
}
.card button {
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}


.headerwrapper {
  background: "white";
  height: "150px";
  display: "flex";
  justify-content: "center";
}
.header_inner {
  margin: 0 auto;
  width: "100%";
  padding: 1.45rem 1.0875rem;
  display: "flex";
  align-items: "center";
}
