.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  height: 100vh;
  width: 100%;
}
.login-img {
  width: 440px;
  height: 300px;
  padding:0.5rem;
}
.login-container {
  width: 100%;
  height: 338px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -3rem;
}
.login-heading {
  color: #47525e;
  font-size: 2rem;
  font-family: Lato;
  font-weight: bold;
}
.login-p {
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.progress-bar-container {
  display: flex;
  margin-top: 50px;
  width: 80%;
  justify-content: center;
}
.proggressbar-comp {
  background-color: #8190a5;
  width: 159px;
  height: 8px;
}
.proggressbar-incomp {
  background-color: #e5e9f2;
  width: 407px;
  height: 8px;
}
@media screen and (max-width: 768px) {
  .proggressbar-comp {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .proggressbar-incomp {
    width: 60%;
  }
}
.login-btn {
  margin-top: 60px;
  background-color: #47525e;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  text-align: center;
}
.logo-desc {
  margin-top: 45px;
  color: #8190a5;
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  text-align: center;
}
.productItem-wrapper {
  width: 100%;
  padding: 78px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .productItem-wrapper {
    flex-direction: column;
    padding: 3rem;
  }
}
.product-item-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .product-item-container {
    width: 100%;
    flex-direction: column;
  }
}
.product-item-img {
  padding: 1rem;
  background-color: #e5e9f2;
  width: 100%;
  height: 238px;
}
@media screen and (max-width: 768px) {
  .product-item-img {
    width: 100%;
  }
}
.product-item-heading {
  color: #47525e;
  font-family: Lato;
  font-size: 28px;
  line-height: 33px;
  width: 643px;
  text-align: left;
  margin-top: 37px;
}
.product-item-desc {
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  text-align: left;
  margin-top: 19px;
}
@media screen and (max-width: 768px) {
  .product-item-heading {
    width: 100%;
  }
  .product-item-desc {
    width: 100%;
  }
}
.product-item-rightcontainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .product-item-rightcontainer {
    padding: 0;
  }
}

.product-item-rightcontainerbtn-price {
  color: #8190a5;
  font-family: Lato;
  font-size: 20px;
  line-height: 62px;
  width: 192px;
  text-align: left;
}
.product-item-rightcontainerbtn {
  background-color: #47525e;
  border-radius: 5px;
  width: 192px;
  height: 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  width: 192px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: "pointer";
}
.product-item-rightcontainer-desc {
  color: #47525e;
  font-family: Lato;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 34px;
}
